@model CommonLayer.ViewModels.BaseCategoryViewModel

<div class="container">
    <div class="col-sm-6">
        <form method="post" asp-action="Add">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" >
            </div>
            <div>
                <button class="btn btn-success" type="submit">Add category</button>
            </div>
        </form>
    </div>
</div>