@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>@Html.DisplayFor(x => x)</b> to Car Service</h1>
    <img src="@Url.Content("~/img/brands.png")" alt="brands" />
    <p>
        Система Car Service — это крупнейшая сеть сервисных станций, основанная в 1921году компанией Car Service Company. Сегодня сеть насчитывает около 10 000 предприятий в 123 странах, в том числе в Молдове. Каждый Car Service Service, будучи независимым и самостоятельным предприятием, одновременно является частью мировой сети сервисных станций, которые занимаются гарантийным и послегарантийным сервисом автозапчастей, производимых фирмой Car Service Company.

        Станция имеет 20 рабочих постов и оказывает следующие услуги:
    </p>
    <pre style="text-align: left">
        1) Диагностика, ремонт и регулировка механических и электронных систем впрыска бензиновых двигателей.
        2) Диагностика электронных и электрических систем.
        3) Диагностика и ремонт ходовой части автомобиля.
        4) Химическая и ультразвуковая чистка инжектора.
        5) Компьютерная регулировка углов развала и схождения колес.
        7) Монтаж шин и балансировка колес на электронном балансировочном стенде.
        8) Регулировка света фар.
        9) Диагностика и ремонт тормозных систем.
        10) Экспресс замена масел.
        11) Ремонт двигателей и коробок передач.
        12) Токарные и слесарные работы.
    </pre>
</div>

@section Scripts
{
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const menuItems = document.getElementById('header-menu').children;
            for (const item in menuItems) {
                console.log(menuItems[item]);
                if (menuItems[item].children != undefined)
                    menuItems[item].classList.remove('active');
            }
            document.getElementById('nav-item-home').classList.add('active');
        });
    </script>
}